@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.h-center {
    text-align: center;
}

.main-heading {
    color: darkviolet;
    font-family: "Monoton";
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;

}

.main-paragraph {
    color: grey;


}



.bg-container {
    background-image: url("https://img.freepik.com/free-vector/vacation-holidays-background-with-realistic-globe-suitcase-photo-camera_1284-10476.jpg?size=626&ext=jpg&ga=GA1.1.1058021101.1680528162&semt=sph");
    height: 100vh;
    background-size: cover;
}

.card {
    text-align: center;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 5px;
}

.button {
    height: 36px;
    width: 138px;
    color: #000f05;
    background-color: #03a1fc;
    border-radius: 50px;
    border-width: 0px;

}

.button-orange {
    background-color: #f7931e;
}

.button-green {
    background-color: #8cc63f;
}